/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


//My current compiled version of bootstrap
//http://getbootstrap.com/customize/?id=4afd15cce028d25a9e5f


@import "compass";

$sprites: sprite-map("sprites/*.png", $layout:smart);
i,.i{
	background: $sprites;
	display: inline-block;
}
@each $i in sprite_names($sprites) {
	.i_#{$i} {
		background-position: sprite-position($sprites, $i);
		@include sprite-dimensions($sprites, $i);
	}
}

@import "utilities/settings";

// @import "bootstrap/bootstrap"; //All bootstrap framework
@import "bootstrap/normalize_grid"; //Normalize and grid + some unnecessary styles

@import "utilities/utilities";
@import "base/base";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic);
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
// @import url("http://fonts.googleapis.com/css?family=Dosis:400,700");
// @import "fonts/font-awesome";

@import "layout/nav";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

@import "modules/btn";
@import "modules/dividers";
@import "modules/forms";
@import "modules/tables";
@import "modules/misc";

@import "theme/theme";