/**
* ---------------------------------------------------------------------------------------------------------------------------------------
* Other styles
* ---------------------------------------------------------------------------------------------------------------------------------------
*/

@media only screen and (min-width: 700px) /* min-width 641px */ {
    .remodal {
        width: 545px;
        margin: 0 auto;
        min-height: 0;
        padding: 45px;
    }
}

.remodal{
	h3{
		font-weight: 300;
		font-size: 25px;
		margin-top: 0;
		margin-bottom: 30px;

	}
}
