/**
* ---------------------------------------------------------------------------------------------------------------------------------------
* Main styles
* ---------------------------------------------------------------------------------------------------------------------------------------
*/

#slides{
	.jcarousel{
		position: relative;
	}
	.pagination{
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 50px;
		margin: 0 auto;
		text-align: center;
		a{
			display: inline-block;
			margin-right: 10px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			border: 1px solid #fff;
			&.active{
				border: none;
				background-color: #fff;
				width: 10px;
				height: 10px;
			}
		}
	}
	.carousel-container{
		li{
			position: relative;
		}
		h3{
			position: absolute;
			z-index: 1;
			color: #fff;
			font-size: 35px;
			font-weight: 300;
		}
		.button{
			position: absolute;
			z-index: 1;
			padding: 14px 20px 16px;

			background-color: rgba(0,0,0,.5);
			color: #fff;
			font-size: 22px;
			font-weight: 300;
			border: 1px solid #fff;
			&:hover{
				color: #ddd;
				border-color: #aaa;
			}
			&:active{
				outline: none;
			}
			&:focus{
				outline: none;
			}
			i{
				margin-left: 8px;
			}
		}
		.slides_list{
			position: absolute;
		}
	}
	.controls{
		position: absolute;
		display: block;
		top: 0;
		width: 100%;
		font-size: 100px;
	}
	.control{
		height: 692px;
		line-height: 692px;
		color: #fff;
		&:hover{
			color: #aaa;
		}
	}
	.prev{
		width: 30%;
		padding-left: 100px;
	}
	.next{
		width: 70%;
		text-align: right;
		padding-right: 100px;
	}
}

#club_slide{
	h3{
		bottom: 170px;
		left: 140px;
	}
	.button{
		bottom: 120px;
		left: 140px;
	}
}
#product_slide{
	h3.left_part{
		bottom: 170px;
		left: 140px;
	}
	.button.left_part{
		bottom: 120px;
		left: 140px;
	}

	h3.right_part{
		bottom: 170px;
		left: 730px;
	}
	.button.right_part{
		bottom: 120px;
		left: 730px;
	}
}
#map_slide{
	h3.left_part{
		bottom: 170px;
		left: 140px;
	}
	.button.left_part{
		bottom: 120px;
		left: 140px;
	}
	h3.right_part{
		bottom: 170px;
		left: 680px;
	}
	.button.right_part{
		bottom: 120px;
		left: 680px;
	}
}
#prop_slide{
	ul{
		left: 760px;
		bottom: 320px;
		z-index: 1;

		font-size: 14px;
		font-weight: 300;
		color: #fff;
		line-height: 1.2;

		li{
			font-size: 22px;
			padding-left: 1em; 
    		text-indent: -0.7em;

    		&:before{
    			content: "• ";
    		}
		}
	}
	.button{
		left: 765px;
		bottom: 200px;
	}
}
#culc_slide{
	h3{
		bottom: 170px;
		left: 140px;
	}
	.button{
		bottom: 120px;
		left: 140px;
	}
}


/**
* ---------------------------------------------------------------------------------------------------------------------------------------
* Benefits styles
* ---------------------------------------------------------------------------------------------------------------------------------------
*/
#benefits_wrapper{
	background: #fff url('../img/bg_img1.jpg') 100% 50% no-repeat;
}

#benefits{
	font-size: 17px;
	h3{
		font-size: 18px;
		color: #caa218;
		margin-bottom: 10px; 	
	}
	p{
		padding: 0;
		margin: 0;
	}
	strong{
		width: 22px;
		font-weight: bold;
		color: #caa218;
	}
	.flag_container{
		position: relative;
		top: -20px;
	}
	.conclusion{
		padding: 60px 0 90px;
	}
}

#components_wrapper{
	background: #fff url('../img/bg_img2.jpg') 0 99% no-repeat;
}

#components{
	margin-bottom: 160px;
	.component{
		float: left;
		width: 20%;
	}
	h3{
		width: 165px;
		font-size: 16px;
		color: #caa218;
		margin-bottom: 10px; 	
	}
	p{
		width: 165px;
		font-size: 15px;
	}
}

#how_wrapper{
	background: #fff url("../img/how_bg.jpg") 0 0 no-repeat;
}
#how{
	height: 682px;

	text-align: center;

	h2{
		margin-bottom: 40px;
	}

	.row{
		position: relative;
	}
	
	.prolog{
		font-size: 17px;
		line-height: 1.2;
		margin-bottom: 45px;
		
	}

	.label{
		margin-top: 15px;
		margin-bottom: 0;
		font-size: 18px;
	}
	.expand_link_container{
		padding: 0;
		margin: 0;
	}
	.expand_link{
		font-size: 15px;
		color: #caa218;
		border-bottom: 1px dashed #caa218;
	}
	.expand{
		display: none;
		position: absolute;
		right: 112px;
		top: 56px;

		width: 540px;

		padding: 30px 30px 40px 60px;
		
		background-color: #fff;
		border: 1px solid #c1b611;
		p{
			margin: 0;
			font-size: 15px;
			text-align: center;
			line-height: 1.5;
		}
		p+p{
			margin-top: 20px;
		}
		i{
			left: -18px;
			top: 50%;
			margin-top: -17px;
		}

	}
	.col{
		position: relative;
		height: 422px;
		padding: 0;
	}
	.col2{
		margin-left: 50px;
	}
	.col3{
		margin-left: 25px;
	}
	i{
		position: absolute;
	}
	
	.single{
		position: absolute;
		top: 50%;
		margin-top: -90px;

	}
	
	.conclusion{
		text-align: right;
		line-height: 1.2;
	}
	.bottom1{
		margin-top: 30px;
	}
	.bottom2{
		margin-top: 50px;
	}
	.i_how_to_top{
		top: 131px;
		right: -43px;
	}
	.i_how_to_bot{
		top: 210px;
		right: -43px;
	}
	.i_how_next{
		top: 60px;
		right: -20px;

		&:last-child{
		top: 290px;
		}
	}
}

#reviews_wrapper{
	background: #fff url("../img/bg_reviews.jpg") 0 0 no-repeat;
}
#reviews{
	position: relative;
	height: 674px;
	h2{
		margin-bottom: 110px;
	}
	.counter{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 90px;
		
		width: 111px;
		height: 111px;
		padding-top: 20px;
		border-radius: 50%;

		background-color: rgba(#fff, .6);
		border: 1px solid #cdcdcd;
	
		font-size: 20px;
		color: #6f6f6f;
		font-weight: 300;
	}
	ul{
		position: relative;
		left: -250px;
		width: 20000px;
	}
	.avatar{
		float: left;
	}
	.name, .city{
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 1.4;
	}
	.name{
		margin-top: 30px;
	}
	.vk_page{
		margin-top: 10px;
		display: block;
		font-size: 13px;
		font-weight: bold;
		color: #caa218;
		text-decoration: underline;
	}
	.i_reviews_vk{
		vertical-align: middle;
		margin-right: 5px;
	}
	.avatar{
		display: block;
		width: 130px;
		height: 130px;
		margin-bottom: 20px;

	}
	.review{
		margin-top: 0;
		padding-left: 5px;
		width: 70%;
		height: auto;
		font-size: 16px;
		line-height: 1.4;
	}
	.credits,.review{
		float: left;
	}
	.credits{
		width: 30%;
	}
	li{
		position: relative;
		float: left;
		text-align: left;
		width: 500px;
		height: 328px;
		margin: 0;
		padding: 24px;

		background-color: #fff;
		border: 1px solid #c2c2c2;

		font-size: 12px;
		@include transform(scale(1) translate(0px));
		@include transition(transform 0.4s linear, transform 0.4s linear);

		.overlay{
			width: 500px;
			height: 328px;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			background-color: rgba(#fff,.8);
		}
		&.active{
			z-index: 10;
			.overlay{
				display: none;
			}
		}

	} // End of li styles

	li.prev{
		@include transform(scale(0.7) translate(250px));
	}

	li.next{

		@include transform(scale(0.7) translate(-250px));
	}
	p{
		margin: 5px 0;
	}
	.jcarousel{
		margin-bottom: 55px; 
		overflow: hidden;
	}
	.controls{
		position: absolute;
		width: 100%;
		z-index: 5;
		left: 0;
		top: 194px;

		font-weight: 300;
		font-size: 100px;
		line-height: 200px;
		.control{
			display: block;
			width: 233px;
			height: 229px;

			color: #666;

			&:hover{
				color: darken(#666, 20%);
			}

		}
		.prev{
			float: left;
		}
		.next{
			float: right;
		}
	}
}

#gallery{
	h2{
		margin-bottom: 20px;
	}

	h3{
		margin-bottom: 65px;

		text-align: center;
		font-size: 17px;
		font-weight: normal;
		span{
			padding: 0 15px;
		}
	}
	.carousel-container{
		position: relative;
		margin-bottom: 95px;
		height: 460px;
		overflow: hidden;
		ul{
			position: relative;
		}
		li.row{
			margin-left: 0;
			margin-right: 0;
		}
		.navigation{
			position: absolute;
			top: 180px;
			right: 0;
		}
		.img-container{
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;
		}
	}
	.i_gallery_up, .i_gallery_down{
		position: absolute;
	}
	.i_gallery_up{
		right: 0;
		top: 0;
	}
	.i_gallery_down{
		right: 0;
		top: 80px;
	}
}

#video_wrapper{
	// height: 797px;
	height: 700px;
	background: #fff url("../img/video_bg.jpg") 0 100% no-repeat;
}
#video{
	h2{
		margin-bottom: 25px;
	}

	h3{
		margin-bottom: 50px;

		text-align: center;
		font-size: 17px;
		font-weight: normal;
	}
	#video_container{
		position: relative;
		width: 640px;
		height: 360px;
		margin: 0 auto 15px;
		// .single_video_wrapper{
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// }
	}



	#video_slider{
		position: relative;
		width: 640px;
		margin: 0 auto;

		.single_video_wrapper{
			position: absolute;
			left: 0;
			top: 0;
		}

		ul{

		}
		li{
			margin: 0 3px;
			display: inline-block;
		}

		.navigation a{
			position: absolute;
			bottom: 26px;
		}
		.i_video_prev{
			left: -42px;
		}
		.i_video_next{
			right: -42px;
		}
	}
}

#order{
	margin-bottom: 100px;

	.row{
		margin-left: 0;
		margin-right: 0;
	}
	.pack{

		height: 420px;
		width: 306px;
		margin-right: 40px;

		position: relative;
		padding: 0 20px;
		border: 1px solid #b9b3a6;

		font-weight: 300;
		text-align: center;
		&:last-child{
			margin-right: 0;
		}
	}

	.pack-featured{
		background-color: #fffddf;
		border: 1px solid #c1b611;
		.price{
			margin-bottom: 20px;
		}
		.amount{
			border-bottom: 1px solid #c1b611;
		}
	}
	h2{
		margin-bottom: 25px;
	}
	.prolog{
		margin-bottom: 60px;

		font-size: 17px;
		line-height: 1.2;
		text-align: center;
	}

	h3{
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 10px;

		font-weight: 300;
		font-size: 25px;
		padding-bottom: 3px;
		border-bottom: 1px solid #000;
	}
	.price{
		margin: 0;
		margin-bottom: 40px;

		font-size: 18px;
		del{
			text-decoration: line-through;
			margin-right: 10px;
		}
	}
	.amount{
		margin: 0 -20px 0;
		padding-bottom: 10px;

		font-size: 18px;

		border-bottom: 1px solid #b9b3a6;
	}
	.noborder{
		border: none;
	}
	.delivery{
		margin: 0;
		font-size: 15px;
		font-weight: normal;
	}
	.bonus{
		margin: 0;
		margin-top: 10px;

	
		text-align: left;
		line-height: 20px;
		font-weight: normal;

	}
	.discount{
		position: absolute;
		left: 40px;
		top: 100px;

		width: 90px;
		height: 90px;
		padding: 16px;

		font-size: 31px;

		@include border-radius(50%);
		background-color: #db0000;
		font-weight: 300;
		color: #fff;
		line-height: 1;
		span{
			position: relative;
			top: -12px;
			font-size: 18px;
		}
	}
	.btn{
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.img1{
		margin-bottom: -30px;
	}
	.img2{
		margin-bottom: 0;
	}
	.img3{
		margin-bottom: -50px;
	}
}

#contacts_wrapper{
	position: relative;
}
#contacts{

	position: absolute;
	right: 100px;
	top: 0;

	width: 510px;
	height: 625px;
	padding: 0 40px;

	background-color: rgba(255,255,255,.6);

	font-size: 18px;

	h2{
		margin-top: 50px;
		margin-bottom: 45px;
		
		line-height: 1.2;
		text-align: left;
	}
	.btn{
		position: relative;
		left: 15px;
		top: 30px;
	}
}

#footer_wrapper{
	height: 357px;
	background: url("../img/sert_bg.jpg") 0 0 no-repeat;

	h2{
		margin-top: 45px;
		margin-bottom: 35px;

		color: #fff;
	}
	img{
		margin-right: 16px;
	}
}
