/**
* ---------------------------------------------------------------------------------------------------------------------------------------
* Nav styles
* ---------------------------------------------------------------------------------------------------------------------------------------
*/
nav{
	background-color: rgba(0,0,0,.5);
	// background-color: #000;
	border-bottom: 1px solid #fff;
	// @include opacity(0.5);
	ul.row{
		margin: 0 100px;
	}
	li{
		float: right;
		padding: 0 14px;
	a{
		line-height: 67px;
		font-size: 18px;
		color: #fff;
		&:hover{
			color: #aaa;
		}
	}
	}
	.logo{
		float: left;
	}
	.cta{
		margin-top: 14px;
		padding: 0;
		border: 1px solid #fff;
		a{
			display: inline-block;
			line-height: 39px;
			padding: 0 14px;
		}
		&:hover{
			border: 1px solid #aaa;
		}
	}
}