/**
* ---------------------------------------------------------------------------------------------------------------------------------------
* Utilties
* ---------------------------------------------------------------------------------------------------------------------------------------
*/
.text-left{
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.text-center{
	text-align: center !important;
}

/**
* ---------------------------------------------------------------------------------------------------------------------------------------
* Clearfix class
* ---------------------------------------------------------------------------------------------------------------------------------------
*/

.group:before,
.group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}

.group {
   zoom: 1;
}
